<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
  <p>Welcome dear user!</p>
<% else %>
  <p>Don't forget to create your account!</p>
<% end %>


<p>Please contact us to this email if any bug: contact@coolapp.com</p>
